*{
    padding: 0;
    margin: 0;
}
html{
    background-color: rgb(255, 255, 255);

}
.toptitle{
    position: relative;
    top: 10px;
    left: 10px;
    font-size: 25px;
    


}
#myChart{
    background-color: white;
    margin: auto;
    width: 85%;
    aspect-ratio: 1/1;
}
.changeval {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.changeval div{
    background-color: rgb(136, 255, 89);
    border: 1px solid white;
    padding: 10px 15px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    margin: 5px;
}
.changeval div:active {
    transition: all 1ms;
    background-color: rgb(118, 221, 77);
}